*{ padding: 0; margin: 0}

#dashboard-layout{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#dashboard-form{
  width: 500px;  
  padding: 30px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgb(197, 197, 197);
  border-radius: 15px;
}

#footer{
 height: 60px;
 width: 100%;
 text-align: center;
}

.child-1{
  padding: 10px;
  display: flex;
  gap: 35px;
  flex-direction: column;
}

.child-2{  
}

.c1-input{
  display: flex;
  flex-direction: column;
}

.c1-input input{
  padding: 10px 20px;
  font-size: 18px;
}

.c1-input label{
  font-size: 14px;
  text-transform: uppercase;
}

.c1-button{
  display: flex;
  justify-content: right;

}

.c1-button button{
  padding: 10px 20px;
  cursor: pointer;
}

.c2-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	box-shadow: 0 4px 6px #0000002e;
	border-radius: 40px;
	margin: 10px;
}